html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* navbar + tekst */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: rgb(218, 187, 187);
}

.left-text {
    margin-right: auto;
}

/* Sentrert list til høyre */
.center-list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}

/* Href, fjernet lina under og stylet den svart */
a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

/* Hoved farger hvis ikke bildet fungerer */
body {
    background-color: rgb(95, 158, 160);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Craftsvilla/bilder/canvaspainting.jpg);
}

/* Hoved Div */
.mainframe {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

/* google kalender ble transparrent så måtte legge til en bakgrunnsfarge på den */
.googlecalendar {
    background-color: white;
}