html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: rgb(218, 187, 187);
}

.left-text {
    margin-right: auto;
}

.center-list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10px;
}

body {
    background-color: rgb(95, 158, 160);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/bilder/canvaspainting.jpg);
}

.mainframe {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.rightframe {
    flex: 1;
    background-color: rgba(255, 255, 255e, 0.2);
    padding: 20px;
    border-radius: 10px;
    line-height: 1.5;
    max-width: 500px;
    text-align: center;
}

.rightframe-content1 {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 550px;
    background-color: rgba(248, 248, 255, 0.366);
    color: black;
    margin-bottom: 20px;
    padding-left: 30px;
}

.rightframe-content1 img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.rightframe-content2 {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 550px;
    background-color: rgba(248, 248, 255, 0.366);
    color: black;
    margin-bottom: 20px;
    padding-left: 30px;
}

.rightframe-content2 img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.rightframe-content3 {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 550px;
    background-color: rgba(248, 248, 255, 0.366);
    color: black;
    padding-left: 30px;
}

.rightframe-content3 img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}


